/**
 * @file
 * Custom block theming
 */
#block-pgn-block-pgn-block-picture,
#block-pgn-block-pgn-block-logo-img {
  margin: 1em;
}

#block-pgn-block-pgn-block-picture img,
#block-pgn-block-pgn-block-logo-img img {
  width: 100%;
}

#block-pgn-block-pgn-block-logo-img {
  margin-top: 1.6em;
  margin-bottom: 0.5em;
}

#block-pgn-block-pgn-block-logo-img a {
  display: block;
  font-size: 0;
}

#block-pgn-block-pgn-block-picture {
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 0;
}

@media (max-width: 45em) {
  #block-pgn-block-pgn-block-picture {
    display: none;
  }
}

.region-sky,
.region-hell {
  text-align: right;
}

.region-sky p,
.region-hell p {
  font-size: .8em;
}

@media (max-width: 45em) {
  #custom-search-blocks-form-1 .form-text {
    width: 70%;
  }
}

@media (max-width: 30em) {
  #custom-search-blocks-form-1 .form-text {
    width: 50%;
  }
}

/*# sourceMappingURL=block-custom.css.map */