/**
 * @file
 * Calendar
 */
#pgn-calendar p, #pgn-calendar small {
  hyphens: auto;
}

#pgn-calendar p {
  color: #3d5874;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#pgn-calendar small {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  display: block;
  font-size: 0.95em;
  margin-bottom: 0.4em;
  padding-bottom: 0.2em;
}

.pgn-calendar-icons {
  margin-top: 1em;
}

.pgn-calendar-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 1em;
  margin-right: 0.5em;
  width: 1em;
}

.pgn-calendar-icon:hover {
  opacity: 0.7;
}

.pgn-calendar-icon-print {
  background-image: url("../images/icons/calendar-print.svg");
}

.pgn-calendar-icon-subscribe {
  background-image: url("../images/icons/calendar-subscribe.svg");
}

.pgn-calendar-icon-view {
  background-image: url("../images/icons/calendar-view.svg");
}

.pgn-calendar-icon-flush {
  background-image: url("../images/icons/calendar-flush.svg");
}

/*# sourceMappingURL=calendar.css.map */