/**
 * @file
 * Content menu styling
 */
/*
 * Content menu
 */
@media (max-width: 40em) {
  #block-menu-block-1 {
    background: none !important;
  }
  #block-menu-block-1 ul {
    padding: 0;
  }
  #block-menu-block-1 li a {
    background: #ef7d00;
    color: #fff !important;
    display: block;
    margin: .3em 0;
    padding: .9em;
    width: 100%;
  }
  #block-menu-block-1 li li a {
    background: #ffae56;
    border-left: 1em solid #fff;
  }
  #block-menu-block-1 a:hover {
    background-color: #8a95a7;
  }
}

/*# sourceMappingURL=menu-content.css.map */