/**
 * @file
 * Panel
 */
/*
 * Startseite
 */
#frontpage.panel-2col-stacked .panel-col-first {
  width: 70%;
}

#frontpage.panel-2col-stacked .panel-col-last {
  width: 30%;
}

@media (min-width: 45em) and (max-width: 60em) {
  #frontpage.panel-2col-stacked .panel-col-first {
    width: 60%;
  }
  #frontpage.panel-2col-stacked .panel-col-last {
    width: 40%;
  }
}

@media (max-width: 45em) {
  #frontpage.panel-2col-stacked .panel-col-first,
#frontpage.panel-2col-stacked .panel-col-last {
    width: 100%;
  }
  #frontpage.panel-2col-stacked .panel-col-first .inside,
#frontpage.panel-2col-stacked .panel-col-last .inside {
    margin: 0 0 1em 0;
  }
}

#frontpage.panel-3col-33-stacked .panel-col-first {
  width: 60%;
}

#frontpage.panel-3col-33-stacked .panel-col {
  width: 20%;
}

#frontpage.panel-3col-33-stacked .panel-col-last {
  width: 20%;
}

@media (min-width: 45em) and (max-width: 60em) {
  #frontpage.panel-3col-33-stacked .panel-col-first {
    width: 60%;
  }
  #frontpage.panel-3col-33-stacked .panel-col {
    width: 40%;
  }
  #frontpage.panel-3col-33-stacked .panel-col-last {
    width: 100%;
  }
  #frontpage.panel-3col-33-stacked .panel-col-last .inside {
    margin: 0 0 1em 0;
  }
}

@media (max-width: 45em) {
  #frontpage.panel-3col-33-stacked .panel-col-first,
#frontpage.panel-3col-33-stacked .panel-col,
#frontpage.panel-3col-33-stacked .panel-col-last {
    width: 100%;
  }
  #frontpage.panel-3col-33-stacked .panel-col-first .inside,
#frontpage.panel-3col-33-stacked .panel-col .inside,
#frontpage.panel-3col-33-stacked .panel-col-last .inside {
    margin: 0 0 1em 0;
  }
}

/*
 * Article
 */
@media (max-width: 45em) {
  .panels-article-template.panel-2col-stacked .panel-col-first,
.panels-article-template.panel-2col-stacked .panel-col-last {
    width: 100%;
  }
  .panels-article-template.panel-2col-stacked .panel-col-first .inside,
.panels-article-template.panel-2col-stacked .panel-col-last .inside {
    margin: 0 0 1em 0;
  }
}

@media (max-width: 45em) {
  .panels-flexible-fachprofile .panels-flexible-region-fachprofile-rechts,
.panels-flexible-fachprofile .panels-flexible-row-fachprofile-main-row-middle,
.panels-flexible-fachprofile .panels-flexible-row-fachprofile-main-row-right {
    width: 100%;
  }
  .panels-flexible-fachprofile .willibald-pane {
    width: 100%;
  }
}

/*# sourceMappingURL=panel.css.map */