/**
 * @file
 * Frontpage
 */
.pgn-responsive-article-view .views-row {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #ddd;
  margin: 0.5em 0 1em 0;
  padding-bottom: .5em;
}

.pgn-responsive-article-view .views-row h2 {
  text-transform: uppercase;
}

.pgn-responsive-article-view .views-row small {
  color: #8a95a7;
  display: block;
  margin-bottom: 0.3em;
}

.pgn-responsive-article-view .views-row .body {
  font-size: 1.05em;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.pgn-responsive-article-view .views-row p {
  margin: 0;
  padding: .2em 0;
}

.pgn-responsive-article-view .views-row .read-more {
  clear: both;
  padding: 0;
  text-align: right;
}

.pgn-responsive-article-view .views-row img {
  box-shadow: 3px 3px 10px 1px #8a95a7;
  border: 3px solid #fff;
  float: left;
  margin: .5em 1em 1em 0;
}

@media (max-width: 40em) {
  .pgn-responsive-article-view .views-row img {
    height: auto;
    width: 100%;
  }
}

.pgn-responsive-article-view .pager .pager-current {
  display: none;
}

/*# sourceMappingURL=views.css.map */