/**
 * @file
 * Custom block theming
 */

#block-pgn-block-pgn-block-picture,
#block-pgn-block-pgn-block-logo-img {
  margin: 1em;
  img {
    width: 100%;
  }
}

// PGN-Logo auf der linken Seite
#block-pgn-block-pgn-block-logo-img {
  margin-top: 1.6em;
  margin-bottom: 0.5em;

  a {
    display: block;
    font-size: 0;
  }
}

// Längliches Bild auf der Startseite mit den Schuldach
#block-pgn-block-pgn-block-picture {
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 0;

  @media (max-width: 45em) {
    display: none;
  }
}

.region-sky,
.region-hell {
  text-align: right;
  p {
    font-size: .8em;
  }
}

// To keep the search button and the text field in the same line
#custom-search-blocks-form-1 {
  .form-text {
    @media (max-width: 45em) {
      width: 70%;
    }
    @media (max-width: 30em) {
      width: 50%;
    }
  }
}
