/**
 * @file
 * Gallery
 */

.field-type-image {
  .field-item {
    float: left;
    margin: 10px;
  }

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }

  .field-item img {
    border: 3px solid white;
    box-shadow: 0 0 1px #666, 3px 3px 10px 1px #999;

    @media (max-width: 35em) {
      width: 100%;
      height: auto;
    }
  }
}
