/**
 * @file
 * Content menu styling
 */

@import "willibald";

/*
 * Content menu
 */

@media (max-width: 40em) {
  #block-menu-block-1  {
    background: none !important;
    ul {
      padding: 0;
    }

    li {
      a {
        background: $orange;
        color: $white !important;
        display: block;
        margin: .3em 0;
        padding: .9em;
        width: 100%;
      }

      li a {
        background: lighten($orange, 20%);
        border-left: 1em solid $white;
      }
    }

    a:hover {
      background-color: $grey;
    }
  }
}
