/**
 * @file
 * Panel
 */

/*
 * Startseite
 */

// 2-spaltig
#frontpage.panel-2col-stacked {
  .panel-col-first {
    width: 70%;
  }

  .panel-col-last {
    width: 30%;
  }

  @media (min-width: 45em) and (max-width: 60em) {
    .panel-col-first {
      width: 60%;
    }

    .panel-col-last {
      width: 40%;
    }
  }

  @media (max-width: 45em) {
    .panel-col-first,
    .panel-col-last {
      width: 100%;
      .inside {
        margin: 0 0 1em 0;
      }
    }
  }
}

// 3-spaltig
#frontpage.panel-3col-33-stacked {
  .panel-col-first {
    width: 60%;
  }

  .panel-col {
    width: 20%;
  }

  .panel-col-last {
    width: 20%;
  }

  @media (min-width: 45em) and (max-width: 60em) {
    .panel-col-first {
      width: 60%;
    }

    .panel-col {
      width: 40%;
    }

    .panel-col-last {
      width: 100%;
      .inside {
        margin: 0 0 1em 0;
      }
    }
  }

  @media (max-width: 45em) {
    .panel-col-first,
    .panel-col,
    .panel-col-last {
      width: 100%;
      .inside {
        margin: 0 0 1em 0;
      }
    }
  }
}

/*
 * Article
 */
.panels-article-template.panel-2col-stacked {
  @media (max-width: 45em) {
   .panel-col-first,
   .panel-col-last {
      width: 100%;

      .inside {
        margin: 0 0 1em 0;
      }
    }
  }
}

.panels-flexible-fachprofile {
  @media (max-width: 45em) {
    .panels-flexible-region-fachprofile-rechts,
    .panels-flexible-row-fachprofile-main-row-middle,
    .panels-flexible-row-fachprofile-main-row-right {
      width: 100%;
    }

    .willibald-pane {
      width: 100%;
    }
  }
}
