/**
 * @file
 * Frontpage
 */

@import "willibald";

.pgn-responsive-article-view {
  .views-row {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ddd;
    margin: 0.5em 0 1em 0;
    padding-bottom: .5em;

    h2 {
      text-transform: uppercase;
    }

    small {
      color: $grey;
      display: block;
      margin-bottom: 0.3em;
    }

    .body {
      font-size: 1.05em;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    p {
      margin: 0;
      padding: .2em 0;
    }

    .read-more {
      clear: both;
      padding: 0;
      text-align: right;
    }

    img {
      @include image-frame;
      float: left;
      margin: .5em 1em 1em 0;

      @media (max-width: 40em) {
        height: auto;
        width: 100%;
      }
    }
  }

  .pager .pager-current {
    display: none;
  }
}
